.exchange {
	&__container {
		text-align: center;
		margin-top: 200px;
	}

	&__section {
		width: 100%;
		padding: 30px;
		background-image: 
			repeating-linear-gradient(135deg, hsla(264,0%,88%,0.03) 0px, hsla(264,0%,88%,0.03) 1px, transparent 1px, transparent 12px),
			repeating-linear-gradient(45deg, hsla(264,0%,88%,0.03) 0px, hsla(264,0%,88%,0.03) 1px, transparent 1px, transparent 12px);
		border-radius: 24px;
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
		text-align: center;
		transition: all 0.3s ease;

		&:hover {
			box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
			transform: translateY(-5px);
		}
	}

	&__title {
		font-size: 30px;
		color: #ffffff;
		margin-bottom: 25px;
		font-weight: 600;
		text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
		letter-spacing: 1.2px;
	}

	&__converter {
		display: flex;
		justify-content: space-between;
		gap: 20px;

		.converter__section {
			flex: 1;
			margin: 0 10px;
			background-color: rgba(255, 255, 255, 0.8); 
			border-radius: 16px;
			padding: 20px;
			box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
			transition: transform 0.3s ease, box-shadow 0.3s ease;

			&:hover {
				transform: translateY(-7px);
				box-shadow: 0 12px 28px rgba(0, 0, 0, 0.15);
			}

			.converter {
				&__label {
					display: block;
					margin-bottom: 10px;
					font-size: 20px;
					letter-spacing: 1px;
					font-weight: 500;
					color: #444;
				}

				&__input, &__select {
					width: 100%;
					padding: 14px;
					font-size: 18px;
					border: 2px solid #e0e0e0;
					border-radius: 12px;
					background-color: #f9f9f9;
					transition: all 0.3s ease;
					margin-bottom: 20px;

					&:focus {
						border-color: #8f94fb; 
						background-color: #ffffff;
						outline: none; 
					}
				}
			}
		}
	}
}
